snippet output "emitter properties"
	fmt.Println($1, $2)

snippet it "import"
	import(
		"$1"
	)
snippet tt "test"
	func Test$1(t *testing.T){

	}
snippet rt "return"
	return $1
snippet ie "if err"
	if err != nil{
		${1}
	}
